<div class="personal">
    <div class="titulo">
        <h1>JAVIER FREIRE</h1>
        <h2>Analista Programador Computacional</h2>
    </div>
    <div class="info-personal">
        <p>Programador con mayores gustos por el desarrollo Front-End sobre todo con JavaScript, pero sin miedo a programar por el lado del Back-End. Muy responsable, me apasiona el rubro de la programación, estoy en constante aprendizaje de nuevas tecnologias,
            además de seguir profundizando en los conocimientos que ya tengo, audidacta, perseverante y con facilidad para trabajar en equipo. <br>
            <a href="https://www.linkedin.com/in/javier-antonio-freire-moreira-b226a71ba/" target="_blank"><i class="fa-brands fa-linkedin icon"></i></a>
            <a href="https://github.com/javierf39" target="_blank"><i class="fa-brands fa-github icon"></i></a>

        </p>
        <div class="img">
            <img src="../assets/img/perfil1.jpeg" alt="imagen-perfil">
        </div>
    </div>
</div>