@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
$font-titulos:'Crimson Text',
serif;
$amarillo:#FFDE59;
.personal {
    display: flex;
    flex-direction: column;
    .info-personal {
        h1,
        h2 {
            font-family: $font-titulos;
        }
        h1 {
            margin: 0;
            margin-bottom: 10px;
            font-size: 40px;
        }
        h2 {
            font-size: 20px;
        }
        .icono {
            font-size: 25px;
            margin: 5px;
            color: white;
        }
    }
    .icono-bajar {
        width: 25px;
        height: 30px;
        margin: 0 auto;
        margin-top: 40%;
        border: 2px solid $amarillo;
        border-radius: 30%;
        padding-top: 10px;
        animation: down 0.5s infinite alternate;
        .icono {
            font-size: 20px;
            color: $amarillo;
        }
    }
}

@keyframes down {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(50%);
    }
}

@media(max-width:440px) {
    .personal {
        .info-personal {
            h1 {
                font-size: 35px;
            }
            h2 {
                font-size: 18px;
            }
        }
    }
}