<div class="personal">
    <div class="info-personal">
        <h1>JAVIER FREIRE</h1>
        <h2>Analista Programador Computacional</h2>
        <a class="icono" href="https://www.linkedin.com/in/javier-antonio-freire-moreira-b226a71ba/" target="_blank"><i class="fa-brands fa-linkedin icon"></i></a>
        <a class="icono" href="https://github.com/javierf39" target="_blank"><i class="fa-brands fa-github icon"></i></a>
    </div>
    <div class="icono-bajar">
        <a href="#sobre-mi"><i class="fa-solid fa-down-long icono"></i></a>
    </div>

</div>