@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
$amarillo:#FFDE59;
h1 {
    text-align: left;
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .proyecto {
        flex-basis: 47%;
        position: relative;
        margin-top: 15px;
        border: 5px solid $amarillo;
        border-radius: 20px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            transition: all 600ms ease-in-out;
        }
        .info-proyecto {
            position: absolute;
            background: #424949;
            border-radius: 20px;
            opacity: 0;
            left: 0;
            top: 0;
            width: 90%;
            height: 80%;
            padding: 5%;
            text-align: center;
            transition: all 400ms ease-in-out;
            h2 {
                font-size: 25px;
                font-family: 'Dosis', sans-serif;
                font-weight: bolder;
            }
            p {
                margin: 0px;
                padding: 0px;
                font-size: 16px;
            }
            .links {
                margin: 25px 0px;
                a {
                    margin: 5px;
                    padding: 3px 25px;
                    border: 2px solid $amarillo;
                    color: $amarillo;
                    font-size: 20px;
                }
            }
            .tecnologias {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 15px;
                .icon {
                    font-size: 35px;
                    margin: 0px 5px;
                    margin-top: 5px;
                }
            }
        }
    }
    .proyecto:hover img {
        transform: scale(1.3);
        opacity: 0;
    }
    .proyecto:hover .info-proyecto {
        opacity: 1;
    }
}

@media (max-width:1300px) {
    .proyectos {
        .proyecto {
            .info-proyecto {
                h2 {
                    margin: 0%;
                }
                .tecnologias {
                    margin-top: 5px;
                    .icon {
                        margin-top: 2px;
                    }
                }
            }
        }
    }
}

@media (max-width:1100px) {
    .proyectos {
        .proyecto {
            .info-proyecto {
                .tecnologias {
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .icons {
                        flex-basis: 55%;
                        .icon {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:900px) {
    .proyectos {
        justify-content: center;
        .proyecto {
            flex-basis: 100%;
            margin-bottom: 10px;
            .info-proyecto {
                transform: scale(1);
            }
        }
    }
}

@media (max-width:830px) {
    .proyectos {
        .proyecto {
            position: static;
            height: 350px;
            img {
                height: 50%;
                border-radius: 20px 20px 0 0;
                opacity: 1 !important;
                transform: scale(1) !important;
            }
            .info-proyecto {
                position: static;
                opacity: 1;
                border-radius: 0 0 20px 20px;
                height: 49%;
                width: 95%;
                padding: 0 2.5%;
                box-shadow: none;
                h2 {
                    font-size: 16px;
                }
                p {
                    font-size: 14px;
                }
                .links {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    a {
                        font-size: 12px;
                        padding: 5px 20px;
                    }
                }
            }
        }
    }
}