.footer {
    width: 100%;
    font-size: 20px;
    border-top: 2px solid#FFDE59;
    padding: 10px 0px;
    background: #424949;
    p {
        color: white;
        font-weight: bolder;
    }
    a {
        color: white;
        margin-top: 5px;
        margin-right: 15px;
        font-size: 25px;
    }
}