<h1>Sobre mí</h1>
<div class="presentacion">
    <div class="img">
        <img src="../../../assets/img/foto_perfil.jpeg" alt="">
    </div>
    <div class="descripcion">
        <p>Programador con mayor dominio en el Front-End en especial con JavaScript, con ganas de intengrar más conocimientos en Back-End. Muy responsable y en constante aprendizaje de nuevas tecnologías, además de seguir profundizando en los conocimientos
            adquiridos anteriormente. Autodidacta, perseverante y con facilidad para trabajar en equipo. <br><br>
        </p>
    </div>

    <div class="tecnologias">
        <h2>Tecnologías</h2>
        <div class="iconos">
            <div class="icono">
                <i class="fa-brands fa-html5 icon"></i>
                <h4>HTML</h4>
            </div>
            <div class="icono">
                <i class="fa-brands fa-css3-alt icon"></i>
                <h4>CSS</h4>
            </div>
            <div class="icono">
                <i class="fa-brands fa-sass icon"></i>
                <h4>SASS</h4>
            </div>
            <div class="icono">
                <i class="fa-brands fa-bootstrap icon"></i>
                <h4>BOOTSTRAP</h4>
            </div>
            <div class="icono">
                <i class="fa-brands fa-js icon"></i>
                <h4>JAVASCRIPT</h4>
            </div>
            <div class="icono">
                <i class="fa-brands fa-node-js icon"></i>
                <h4>NODEJS</h4>
            </div>
            <div class="icono">
                <i class="fa-brands fa-angular icon"></i>
                <h4>ANGULAR</h4>
            </div>
        </div>
    </div>


</div>